<extend name="Base/matrix" />
<block name="content">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>主播统计</a><a href="javascript:;" ></i>主播列表</a></div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>主播列表</h5>
            </div>
          <div class="widget-content">
            <div class="text-center mb10 ln38">
                <form class="form-search">
                  <input type="text" class="w120" name="uid" value="{{$Think.get.uid}}" placeholder="主播id">
                  <input type="text" class="w120" name="nick" value="{{$Think.get.nick}}" placeholder="主播昵称">
                  <input type="text" class="w120" name="username" value="{{$Think.get.username}}" placeholder="主播账号">
                  <input type="text" class="w120" name="roomid" value="{{$Think.get.roomid}}" placeholder="主播房间号">
                  <br>
                  <input name='companyname' id='companyname' type="text" value="{{$Think.get.companyname}}"  placeholder="公司名称"  >
                  <input name='cid' id='cid' type="hidden"   value="{{$Think.get.cid}}">
                  <input type="text" name="timestart" class="form_datetime w100"  value="{{$Think.get.timestart}}" placeholder="开始时间">
				  <input type="text" name="timeend" class="form_datetime w100"  value="{{$Think.get.timeend}}" placeholder="结束时间">
				  <select class="span2" name="order">
                    <foreach name="orderHash" item="v" key='key'>
                        <option value="{{$key}}" <if condition="$Think.get.order eq $key">selected</if> >{{$v}}</option>
                    </foreach>
                  </select>
                  <button type="submit" class="btn">搜索</button>
                  <button type="submit" class="btn" name="export" value="1">导出</button><br>
                </form>
            </div>
			<div class="oyat">    
            <table class="table table-bordered table-striped" id="oCenter" style="">
              <thead>
                <tr>
                  <th>UID</th>
                  <th>等级/昵称</th>
                  <th>直播收益</th>
                  <th>直播时长</th>
                  <th>直播间</th>
                  <th>人气峰值</th>
                  <th>首播日期</th>
                  <th>首次签约日期</th>
                  <th>有效天数</th>
                  <th>真实姓名</th>
                  <th>所属公司</th>
                  <th>状态</th>
                  <th>操作</th>
                  <th>详情</th>
                </tr>
              </thead>
              <tbody>
              <foreach name="data" item="item">
                <tr>
                  <td>{{$item.uid}}</td>
                  <td><i class="anchorLvl_icon lv{{$item.level|default='1'}}"></i>{{$item.nick|default='--'}}</td>
                  <td>金币：{{$item.coin|default='0.00'}}<br/>
                      金豆：{{$item.bean|default='0.00'}}
                  </td>
                  <td>{{$item.length|default='0'}}</td>
                  <td>{{$item.roomid|default='--'}}</td>
                  <td>{{$item.popular|default='--'}}</td>
                  <td>{{$item.first|default='--'}}</td>
                  <td>{{$item.contractTime|default='--'}}</td>
                  <td>{{$item.valid|default='--'}}</td>
                  <td>{{$item.realname|default='--'}}</td>
                  <td title={{$item.companyname}} >{{$item.companyname|default='--'|mb_substr=0,8}}</td>
                  <td>{{$status[$item[historystatus]]}}</td>
                  <td>
                    <if condition="$item.status eq 1">
                    <a class="badge badge-info" data-toggle="modal" data-target="#myModal" data-liveid="0"
                         data-uid="{{$item.uid}}" data-nick="{{$item.nick|default='--'}}" data-act="kill" >禁播</a>
                    <else/>
                    <a class="badge badge-info" href="javascript:void(0)" onclick="delblack({{$item.uid}})" >解除禁播</a>
                    </if>
                    </td>
                  <td><a class="badge badge-info" href="/anchor/anchorstatistics?uid={{$item.uid}}&timestart={{$Think.get.timestart}}&timeend={{$Think.get.timeend}}">查看</a><br/>
                    <a class="badge badge-info" href="/anchor/anchorbank?uid={{$item.uid}}">银行卡管理</a>
                  </td>
                </tr>
              </foreach>
              </tbody>
            </table>
            <div class="pagination alternate text-center">{{$page}}</div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="modal" id="myModal" tabindex="-1" style="display: none;"  >
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>请填写原因</h5>
            </div>
            <div class="widget-content nopadding">
              <form id='f1' action='/live/checklive'  method="post" class="form-horizontal">
                <input type='hidden' name='liveid' id='lid' value=''>
                <input type='hidden' name='luid' id='luid' value=''>
                <input type='hidden' name='act' id='act' value=''>
                <div class="control-group">
                  <label class="control-label">主播房间</label>
                  <div class="controls">
                    <a  href="http://www.huanpeng.com/room.php?">进入直播间</a>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">主播昵称</label>
                  <div class="controls" id="nick">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">原因类型</label>
                  <div class="controls">
                    <select class="span5" name="reasontype">
                      <foreach name="reasontype" item="v" key='key'>
                        <option value="{{$key}}" >{{$v}}</option>
                      </foreach>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">具体描述</label>
                  <div class="controls">
                    <textarea maxlength="800" <empty name="id">name="content"<else/>disabled</empty>    class="span6" style="height:150px;width:300px" placeholder="" >{{$msg}}</textarea>
                  </div>
                </div>
                <div class="form-actions text-center">
                  <button type="submit" class="btn btn-danger" >确定</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="cssadd">
<link rel="stylesheet" href="__RES__css/bootstrap-datetimepicker.min.css" />
</block>
<block name="jsadd">
<script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
<script>
    function del(id){
        Op_common.confirm(('确认删除?'),function(){
            Op_common.ajax('/loan/loandel',{id:id},function(obj){
                Op_common.alert(obj.message,function(){
                    window.location.href="";
                })
            })
        });
    };
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd',
        showMeridian: false,
        autoclose: true,
        minView: 2,
        todayBtn: true,
    });
    
    
		
    $(document).ready(function(){
     	// Autocomplete on User Supplied data
     	$.get('/public/getlist',{status:'0'},function(datas){
     		$('#companyname').change(function() {
     			$('#cid').val('');
     		});
			$('#companyname').autocomplete({
				lookup:datas,
				onSelect:function(data){
					$('#cid').val(data.id);
					$('#companyname').val(data.value);
				}
			});
     	},'json');
    });

    Op_common.ajaxForm($('#f1'), function (obj){
      console.log(obj);
      if(obj.status=='1'){
        Op_common.alert('操作成功!',function(){ window.location.href = "";});
      }else{
        Op_common.alert(obj.info||'操作失败!');
      }
    },{
      before:function(data){$('#myModal').modal('hide');return data;}
    });

    $("a[data-toggle='modal']").on('click', function(e) {
      $('#lid').val($(this).attr('data-liveid'));
      $('#luid').val($(this).attr('data-uid'));
      $('#act').val($(this).attr('data-act'));
      $('#nick').html($(this).attr('data-nick'));
    });
    
    function delblack( uid ) {
		$.ajax({
			url: '/user/delblack',
			data:{uid:uid},
			type:'post',
			dataType:'json',
			success:function(data){
				if(data.status==1){
					Op_common.alert(data.info,function(){
						window.location.href = "";
					});
				}else{
					Op_common.alert(data.info,function(){});
					//window.location.href = "";
				}
			}
		})
	}
    
</script>
</block>
