<extend name="Base/matrix" />
<block name="content">
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>审核日志</a><a href="javascript:;" ></i>陪玩审核审核</a></div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                            <h5>陪玩审核日志</h5>
                        </div>
                        <div class="widget-content">
                            <div class="text-center mb10">
                                <form class="form-search">
                                    <input name='aid'  type="text" value="{{$Think.get.aid}}" placeholder="管理员ID" />
                                    <input name='aname'  type="text" value="{{$Think.get.aname}}" placeholder="管理员" />
                                    <input name='uid'  type="text" value="{{$Think.get.uid}}" placeholder="主播ID"/>
                                    <input name='uname'  type="text" value="{{$Think.get.uname}}" placeholder="主播昵称"/><br/>
                                    <input type="text" id="timestart" name="timestart" class="form_datetime w100"  value="{{$Think.get.timestart}}" placeholder="开始时间">  <input type="text" id = "timeend" name="timeend" class="form_datetime w100"  value="{{$Think.get.timeend}}" placeholder="结束时间">

                                    操作类型
                                    <select class="span2" name="status">
                                    <option value='-1' <eq name="Think.get.status" value="-1" >selected</eq>>全部</option>
                                    <!--<option value='-2' <eq name="Think.get.status" value="-2" >selected</eq>>未上传</option>-->
                                    <foreach name="status" item="v" key='key'>
                                        <option value="{{$key}}" <if condition="$Think.get.status eq $key">selected</if> >{{$v}}</option>
                                    </foreach>
                                </select>
                                    <input type="hidden" name="p" value="1"/>
                                    <button type="submit" class="btn" name="gn">查询</button>
                                    <button type="submit" class="btn" name="export" value="1">导出</button>
                                </form>
                            </div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>关联ID</th>
                                    <th>管理员ID</th>
                                    <th>管理员姓名</th>
                                    <th>用户ID</th>
                                    <th>用户昵称</th>
                                    <th>审核操作</th>
                                    <th>操作结果</th>
                                    <th>原因</th>
                                    <th>操作时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="data" item="item">
                                    <tr>
                                        <td>{{$item.rid}}</td>
                                        <td>{{$item.adminid}}</td>
                                        <td>{{$item.aname}}</td>
                                        <td>{{$item.uid}}</td>
                                        <td>{{$item.uname}}</td>
                                        <td>{{$item.opt}}</td>
                                        <td>{{$status[$item[status]]}}</td>
                                        <td>{{$item.reason}}</td>
                                        <td>{{$item.ctime}}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                            <div class="pagination alternate text-center">{{$page}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</block>
<block name="cssadd">
    <link rel="stylesheet" href="__RES__css/bootstrap-datetimepicker.min.css" />
</block>
<block name="jsadd">
    <script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
    <script>
        function del(id){
            Op_common.confirm(('确认删除?'),function(){
                Op_common.ajax('/loan/loandel',{id:id},function(obj){
                    Op_common.alert(obj.message,function(){
                        window.location.href="";
                    })
                })
            });
        };
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd',
            showMeridian: false,
            autoclose: true,
            startView:2,
            minView: 2,
            todayBtn: true,
        });


        $(document).ready(function(){
            // Autocomplete on User Supplied data
            $('#name').change(function() {
                $('#adminid').val('');
            });
            $.get('/oplog/getadmins',{status:'0'},function(datas){
                $('#name').autocomplete({
                    lookup:datas,
                    onSelect:function(data){
                        $('#adminid').val(data.id);
                        $('#name').val(data.value);
                    }
                });
            },'json');
        });

    </script>
</block>
