$DOMAIN:"http://dev.huanpeng.com/main/static/";
$IMG_URL:"#{$DOMAIN}img/";
$ICON_URL:"#{$IMG_URL}/icon/";

$main_color:#ff7800;
$main_backcolor:#ff7800;

$anchorMaxLevel :60;
$anchorLevelIcon:"#{$IMG_URL}level/anchor/";
$userMaxLevel:60;
$userLevelIcon:"#{$IMG_URL}level/user/";
