<extend name="Base/matrix" />
<block name="content">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>收益审核</a><a href="javascript:;" ></i>主播列表</a></div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>主播列表</h5>
            </div>
          <div class="widget-content">
            <div class="text-center mb10 ln38">
                <form class="form-search" id='myform'>
                  <input type="text" name="uid" class=" w100"  value="{{$Think.get.uid}}" placeholder="uid">
                  <input type="text" name="month" class="form_datetime w100"  value="{{$Think.get.month}}" placeholder="月份">
                  <select class="span2" name="status_op">
                  <option value="-1" >请选择审核状态</option>
                    <foreach name="statusop" item="v" key='key'>
                        <option value="{{$key}}" <if condition="$Think.get.status_op eq $key">selected</if> >{{$v}}</option>
                    </foreach>
                  </select>
                  <select class="span2" name="status_finance">
                  <option value="-1" >请选择汇款状态</option>
                    <foreach name="statusfinance" item="v" key='key'>
                        <option value="{{$key}}" <if condition="$Think.get.status_finance eq $key">selected</if> >{{$v}}</option>
                    </foreach>
                  </select>
                  <select class="span2" name="yesno">
                  <option value="-1" >是否官方签约</option>
                    <foreach name="yesno" item="v" key='key'>
                        <option value="{{$key}}" <if condition="$Think.get.yesno eq $key">selected</if> >{{$v}}</option>
                    </foreach>
                  </select>
                  <button type="submit" class="btn">搜索</button>
                  <button type="submit" class="btn" name="export" value="1">导出</button><br>
                </form>
            </div>
            
            <table class="table table-bordered table-striped" id="oCenter" style="">
              <thead>
                <tr>
                  <th></th>
                  <th>笔数</th>
                  <th>底薪</th>
                  <th>礼物收益</th>
                  <th>总收入</th>
                  <th>代扣个税</th>
                  <th>应付金额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>总计：</td>
                  <td>{{$sum['sum_num']}}</td>
                  <td>{{$sum['wages_base']}}</td>
                  <td>{{$sum['wages_gift']}}</td>
                  <td>{{$sum['wages_sum']}}</td>
                  <td>{{$sum['wages_tax']}}</td>
                  <td>{{$sum['wages_base_afttax']}}</td>
                </tr>
              </tbody>
            </table>
            
        <div class="oyat">    
            <table class="table table-bordered table-striped" id="oCenter" style="">
              <thead>
                <tr>
                  <th>月份</th>
                  <th>UID</th>
                  <th>姓名</th>
                  <th>身份证号</th>
                  <th>有效时长</th>
                  <th>有效天数</th>
                  <th>是否禁播</th>
                  <th>礼物收益</th>
                  <th>首次签约日期</th>
                  <th>底薪</th>
                  <th>奖励</th>
                  <th>总收入</th>
                  <th>代扣个税</th>
                  <th>应支付金额</th>
                  <th>银行</th>
                  <th>银行开户账号</th>
                  <th>开户银行</th>
                  <th>官方签约</th>
                  <th>审核状态</th>
                  <th>汇款状态</th>
                </tr>
              </thead>
              <tbody>
              <foreach name="data" item="item">
                <tr>
                  <td>{{$item.month}}</td>
                  <td>{{$item.uid}}</td>
                  <td>{{$item.realname}}</td>
                  <td title="{{$item.card}}">{{$item.card|mb_substr=0,3}}</td>
                  <td>{{$item.live_length}}</td>
                  <td>{{$item.live_day}}</td>
                  <td>{{$item.is_black}}</td>
                  <td>{{$item.wages_gift}}</td>
                  <td>{{$item.live_start}}</td>
                  <td>{{$item.wages_base_edit}}</td>
                  <td>{{$item.wages_bonuses}}</td>
                  <td>{{$item['wages_sum']}}</td>
                  <td>{{$item['wages_tax']}}</td>
                  <td>{{$item['wages_base_afttax']}}</td>
                  <td>{{$item.bank_name}}</td>
                  <td title="{{$item.bank_card}}">{{$item.bank_card|mb_substr=0,6}}</td>
                  <td>{{$item.accountbank}}</td>
                  <td>{{$item.ishuanpeng}}</td>
                  <td>{{$item.status_op_str}}</td>
                  <td>{{$item.status_finance_str}}</td>
                </tr>
              </foreach>
              </tbody>
            </table>
            <div class="pagination alternate text-center">{{$page}}</div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</block>
<block name="cssadd">
<link rel="stylesheet" href="__RES__css/bootstrap-datetimepicker.min.css" />
</block>
<block name="jsadd">
<script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm',
        showMeridian: false,
        autoclose: true,
        startView:3,
        minView: 3,
        todayBtn: true,
        todayHighlight:false,
    });
    
    $(function(){
        $('.full').click(function(){
            if($(this).attr('checked')){
                $('th input[type=checkbox]').attr('checked',true);
            }else{
                $('th input[type=checkbox]').attr('checked',false);
            }
        })
        $('#pass').click(function(){
            Op_common.confirm(('确认操作?'),function(){
                var ck = $('th input[type=checkbox]');
                var ids = '',pics='';
                ck.each(function(){
                    if($(this).is(':checked')){
                        var id = $(this).attr('id');
                        ids += ','+id;
                    }
                })
                ids = ids.slice(1);
                pics = pics.slice(1);
                if(ids){
                    Op_common.ajax('/wages/companyanchorpass',{ids:ids,status:1},function(o){
                        if(o.status == 0){
                            Op_common.alert('操作成功!',function(){
                                location.href='';
                            });
                        }else{
                            Op_common.alert('操作失败!');
                        }
                    });
                }
            })
        })
        
        $('#unpass').click(function(){
            Op_common.confirm(('确认操作?'),function(){
                var ck = $('th input[type=checkbox]');
                var ids = '',pics='';
                ck.each(function(){
                    if($(this).is(':checked')){
                        var id = $(this).attr('id');
                        ids += ','+id;
                    }
                })
                ids = ids.slice(1);
                pics = pics.slice(1);
                if(ids){
                    Op_common.ajax('/wages/companyanchorpass',{ids:ids,status:2},function(o){
                        if(o.status == 0){
                            Op_common.alert('操作成功!',function(){
                                location.href='';
                            });
                        }else{
                            Op_common.alert('操作失败!');
                        }
                    });
                }
            })
        })
        
		$(".data tr").hover(function(){
			$(this).find('.imgclass')
			.stop()
			.css("width","120px")
			.css("height","120px")
			.css("z-index", 9999);
		},function(){
			$(this).find('.imgclass')
			.css("width","40px")
			.css("height","40px")
			.css("z-index", 0);
		});	
        
    })
</script>
</block>
