<extend name="Base/matrix" />
<block name="content">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>审核管理</a><a href="javascript:;" ></i>公告审核列表</a></div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>公告审核列表</h5>
            </div>
          <div class="widget-content">
            <div class="text-center mb10 ln38">
                <form class="form-search" id='myform'>
                  <input name='luid' id='luid' type="text" value="{{$Think.get.luid}}"  placeholder="用户id" />
                  <input type="text" id="timestart" name="timestart" class="form_datetime w100"  value="{{$Think.get.timestart}}" placeholder="开始时间">  <input type="text" id = "timeend" name="timeend" class="form_datetime w100"  value="{{$Think.get.timeend}}" placeholder="结束时间">
                  <select class="span2" name="status">
                  <option value='-1' <eq name="Think.get.status" value="-1" >selected</eq>>选择审核状态</option>
                    <foreach name="checkstatus" item="v" key='key'>
                        <option value="{{$key}}" <if condition="$Think.get.status eq $key">selected</if> >{{$v}}</option>
                    </foreach>
                  </select>
                  <button type="submit" class="btn">搜索</button>
                  <button type="submit" class="btn" name="export" value="1">导出</button>
                </form>
            </div>
        <div class="oyat">
            <table class="table table-bordered table-striped" id="oCenter" style="">
              <thead>
                <tr>
                  <th>用户id</th>
                  <th style="width:40%">公告内容</th>
                  <th>审核状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody class='data'>
              <foreach name="data" item="item">
                <tr>
                  <th>{{$item.luid}}</th>
                  <th>{{$item.bulletin}}</th>
                  <th>{{$checkstatus[$item[status]]|default='--'}}</th>
                  <th>
                  <if  condition="($item.status eq 1)">
                  	 <a class="badge badge-info" onclick="check('{{$item.luid}}', 2);">审核拒绝</a>
				  <elseif  condition="($item.status eq 2)"/>
                  	 <a class="badge badge-info" onclick="check('{{$item.luid}}', 1);">审核通过</a>
				  <else/>
                  	  <a class="badge badge-info" onclick="check('{{$item.luid}}', 1);">审核通过</a>
					  <a class="badge badge-info" onclick="check('{{$item.luid}}', 2);">审核拒绝</a>
                  </if>
                  </th>
                </tr>
              </foreach>
              </tbody>
            </table>
            <div class="pagination alternate text-center">{{$page}}</div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</block>
<block name="cssadd">
<link rel="stylesheet" href="__RES__css/bootstrap-datetimepicker.min.css" />
</block>
<block name="jsadd">
<script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd',
        showMeridian: false,
        autoclose: true,
        minView: 2,
        todayBtn: true,
    });
    function check(luid, status){
    	Op_common.ajax('/check/bulletincheck',{luid:luid,status:status},function(o){
    		console.log(o);
            if(o.status == 1){
                Op_common.alert('操作成功!',function(){
                    location.href='';
                });
            }else{
                Op_common.alert('操作失败!');
            }
        });
    }
</script>
</block>
