<extend name="Base/matrix" />
<block name="content">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>审核管理</a><a href="javascript:;" ></i>头像审核列表</a></div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>头像审核列表</h5>
            </div>
          <div class="widget-content">
            <div class="text-center mb10 ln38">
                <form class="form-search" id='myform'>
                  <input name='title' id='title' type="text" value="{{$Think.get.title}}"  placeholder="游戏标题"  >
                  <input name='gamename' id='gamename' type="text" value="{{$Think.get.gamename}}"  placeholder="游戏名称"  >
                  <input name='videoid'  type="text" value="{{$Think.get.videoid}}"  placeholder="录像id"  >
                  <input name='uid' id='uid' type="text" value="{{$Think.get.uid}}"  placeholder="用户id"  ><br/>
                  <input type="text" id="timestart" name="timestart" class="form_datetime w100"  value="{{$Think.get.timestart}}" placeholder="开始时间">  <input type="text" id = "timeend" name="timeend" class="form_datetime w100"  value="{{$Think.get.timeend}}" placeholder="结束时间">
                  <select class="span2" name="status">
                  <option value='-1' <eq name="Think.get.status" value="-1" >selected</eq>>选择审核状态</option>
                    <foreach name="checkstatus" item="v" key='key'>
                        <option value="{{$key}}" <if condition="$Think.get.status eq $key">selected</if> >{{$v}}</option>
                    </foreach>
                  </select>
                  <button type="submit" class="btn">搜索</button>
                  <button type="submit" class="btn" name="export" value="1">导出</button><br>
                </form>
            </div>
        <div class="oyat">
            <table class="table table-bordered table-striped" id="oCenter" style="">
              <thead>
                <tr>
                  <th>生成时间</th>
                  <th>发布时间</th>
                  <th>录像id</th>
                  <th>用户id</th>
                  <th>游戏名称</th>
                  <th>标题</th>
                  <th>直播时间</th>
                  <th>录像时长</th>
                  <th>封面图</th>
                  <th>播放</th>
                  <th>审核状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody class='data'>
              <foreach name="data" item="item">
                <tr>
                  <th>{{$item.bctime}}</th>
                  <th>{{$item.actime}}</th>
                  <th>{{$item.videoid}}</th>
                  <th>{{$item.uid}}</th>
                  <th>{{$item.gamename}}</th>
                  <th title="{{$item.title}}">{{$item.title|mb_substr=0,8}}</th>
                  <th>{{$item.livetime|default='--'}}</th>
                  <th>{{$item.length|default='--'}}</th>
                  <th style="width: 40px; height: 40px; ">
                  	<empty name='item.poster'>--<else />
                  	<img  src={{$item.poster}} >
                  	</empty>
                  </th>
                  <th><empty name='item.vfile'>--<else/>
                    <a target='_bank'
                       href="videodetail?videoid={{$item.videoid}}&poster={{$item.poster}}&vfile={{$item.vfile}}&uid={{$item.uid}}&ctime={{$item.bctime}}&ptime={{$item.actime}}&length={{$item.length|default='--'}}&status={{$checkstatus[$item[status]]|default='--'}}" >播放</a>
                  </empty></th>
                  <th>{{$checkstatus[$item[status]]|default='--'}}</th>
                  <th>
                  <if  condition="($item.status eq VIDEO_CHECK_PASS )  ">
                  	 <a class="badge badge-info"  data-toggle="modal" data-target ="#myModal" data-videoid="{{$item.videoid}}">审核拒绝</a>
				  <elseif  condition="($item.status eq VIDEO_CHECK_UNPASS )  "/>
                  	 <a class="badge badge-info" onclick="pass('{{$item.videoid}}');">审核通过</a>
				  <else/>
                  	  <a class="badge badge-info" onclick="pass('{{$item.videoid}}');">审核通过</a>
					  <a class="badge badge-info" data-toggle="modal" data-target ="#myModal" data-videoid="{{$item.videoid}}" >审核拒绝</a>
                  </if>
                  </th>
                </tr>
              </foreach>
              <if  condition="($Think.get.status eq USER_PIC_WAIT )  " >
              </if>
              </tbody>
            </table>
            <div class="pagination alternate text-center">{{$page}}</div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="modal" id="myModal" tabindex="-1" style="display: none;"  >  
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>审核拒绝原因</h5>
        </div>
        <div class="widget-content nopadding">
          <form id='f1' action='/check/videounpass'  method="post" class="form-horizontal">
          <input type='hidden' name='videoid' id='videoid' value=''>
            <div class="control-group">
              <label class="control-label">原因类型</label>
              <div class="controls">
                  <select class="span11" name="reasontype">
                    <foreach name="reason" item="v" key='key'>
                        <option value="{{$key}}">{{$v}}</option>
                    </foreach>
                  </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">描述</label>
              <div class="controls">
                  <textarea name = 'reason' type="textarea" class="span11" style="height:150px;" placeholder="" >{{$desc}}</textarea>
              </div>
            </div>
            <div class="form-actions text-center">
              <button type="submit" class="btn btn-danger" >確定</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div> 
</div>  


</block>
<block name="cssadd">
<link rel="stylesheet" href="__RES__css/bootstrap-datetimepicker.min.css" />
</block>
<block name="jsadd">
<script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd',
        showMeridian: false,
        autoclose: true,
        minView: 2,
        todayBtn: true,
    });
    function pass(id){
    	Op_common.ajax('/check/videopass',{videoid:[id]},function(o){
    		console.log(o);
            if(o.status == 1){
                Op_common.alert('操作成功!',function(){
                    location.href='';
                });
            }else{
                Op_common.alert('操作失败!');
            }
        });
    }
    
    
    $("a[data-toggle='modal']").on('click', function(e) {
    	$('#videoid').val($(this).attr('data-videoid'));
	});
    
    Op_common.ajaxForm($('#f1'), function (obj){
        if(obj.status=='1'){
          Op_common.alert('操作成功!',function(){ window.location.href = "";});
       }else{
          Op_common.alert(obj.info||'操作失败!');
       }      
   },{
	   before:function(data){$('#myModal').modal('hide');return data;}
   });
    
</script>
</block>
