@charset "UTF-8";
html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 微软雅黑;
  background-color: #ffc029;
}

.hp_wrap{
  background: url("../img/mHeader.png") center top no-repeat;

  background-size: contain;
  padding-top: 220/16rem;
  padding-bottom: 16/16rem;
  .hp_main{
    width: 95%;
    margin: 0 auto;
    .hp_intro{
      background: url("../img/event1.png") center top no-repeat;
      background-size: contain;
      padding-top: 60/16rem;
      .intro_desc{
        background: url("../img/eventBG.png") center bottom no-repeat;
        background-size: 102% 103%;
        height: 160/16rem;
        box-sizing: border-box;
        padding-top: 16/16rem;
        &>p{
          width: 90%;
          color: #464134;
          margin-left: 16/16rem;
          font-size:12/16rem;
          font-weight: 600;
          font-family: 微软雅黑;
        }
      }
    }

    .hp_apply{
      background: url("../img/event2.png") center top no-repeat;
      background-size: contain;
      padding-top: 60/16rem;
      margin-top: 10/16rem;
      margin-bottom: 10/16rem;
      .apply_desc{
        background: url("../img/eventBG.png") center bottom no-repeat;
        background-size: 102% 103%;
        height: 130/16rem;
        box-sizing: border-box;
        padding-top: 20/16rem;
        .hp_color{color: #ff7800;}
        &>p{
          width: 90%;
          color: #464134;
          margin-left: 16/16rem;
          font-size:12/16rem;
          font-weight: 600;
          font-family: 微软雅黑;

        }
      }
    }

    .hp_project{
      height: 514/16rem;
      background: url("../img/mEvent.png") center top no-repeat;
      background-size: contain;
      p{
        width: 90%;
        color: #464134;
        margin-left: 16/16rem;
        font-size:12/16rem;
        font-weight: 600;
        font-family: 微软雅黑;
      }
      .hp_core{
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 90/16rem;
        &>p{
          margin-bottom: 16/16rem;
        }
      }
      .hp_money{
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 105/16rem;
        &>p{
          margin-bottom: 11/16rem;
        }
      }

    }

    .hp_clear{
      height: 32/16rem;
      &>p{
        text-align: center;
        margin-top: -1rem;
        color: #464134;
        font-size:10/16rem;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        font-weight: 600;
        font-family: 微软雅黑;
      }
    }
  }

}