.anchorLvl_icon.lv1 {
    background:url("../image/anchor/1.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv2 {
    background:url("../image/anchor/2.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv3 {
    background:url("../image/anchor/3.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv4 {
    background:url("../image/anchor/4.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv5 {
    background:url("../image/anchor/5.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv6 {
    background:url("../image/anchor/6.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv7 {
    background:url("../image/anchor/7.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv8 {
    background:url("../image/anchor/8.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv9 {
    background:url("../image/anchor/9.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv10 {
    background:url("../image/anchor/10.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv11 {
    background:url("../image/anchor/11.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv12 {
    background:url("../image/anchor/12.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv13 {
    background:url("../image/anchor/13.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv14 {
    background:url("../image/anchor/14.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv15 {
    background:url("../image/anchor/15.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv16 {
    background:url("../image/anchor/16.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv17 {
    background:url("../image/anchor/17.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv18 {
    background:url("../image/anchor/18.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv19 {
    background:url("../image/anchor/19.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv20 {
    background:url("../image/anchor/20.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv21 {
    background:url("../image/anchor/21.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv22 {
    background:url("../image/anchor/22.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv23 {
    background:url("../image/anchor/23.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv24 {
    background:url("../image/anchor/24.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv25 {
    background:url("../image/anchor/25.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv26 {
    background:url("../image/anchor/26.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv27 {
    background:url("../image/anchor/27.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv28 {
    background:url("../image/anchor/28.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv29 {
    background:url("../image/anchor/29.png") center center no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv30 {
    background:url("../image/anchor/30.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv31 {
    background:url("../image/anchor/31.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv32 {
    background:url("../image/anchor/32.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv33 {
    background:url("../image/anchor/33.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv34 {
    background:url("../image/anchor/34.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv35 {
    background:url("../image/anchor/35.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv36 {
    background:url("../image/anchor/36.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv37 {
    background:url("../image/anchor/37.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv38 {
    background:url("../image/anchor/38.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv39 {
    background:url("../image/anchor/39.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv40 {
    background:url("../image/anchor/40.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv41 {
    background:url("../image/anchor/41.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv42 {
    background:url("../image/anchor/42.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv43 {
    background:url("../image/anchor/43.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv44 {
    background:url("../image/anchor/44.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv45 {
    background:url("../image/anchor/45.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv46 {
    background:url("../image/anchor/46.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv47 {
    background:url("../image/anchor/47.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv48 {
    background:url("../image/anchor/48.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv49 {
    background:url("../image/anchor/49.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv50 {
    background:url("../image/anchor/50.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv51 {
    background:url("../image/anchor/51.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv52 {
    background:url("../image/anchor/52.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv53 {
    background:url("../image/anchor/53.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv54 {
    background:url("../image/anchor/54.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv55 {
    background:url("../image/anchor/55.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv56 {
    background:url("../image/anchor/56.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv57 {
    background:url("../image/anchor/57.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv58 {
    background:url("../image/anchor/58.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv59 {
    background:url("../image/anchor/59.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}
.anchorLvl_icon.lv60 {
    background:url("../image/anchor/60.gif") .02631579rem -0.02631579rem no-repeat;
    background-size:cover
}