<extend name="Base/matrix" />
<block name="content">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>用户管理</a><a href="javascript:;" ></i>用户列表</a></div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5></h5>
            </div>
          <div class="widget-content">
            <div class="text-center mb10 ln38">
                <form class="form-search" enctype="multipart/form-data" method="post">
                  <input type="file" class="w120"  name='file',id='file'>
                  <input type="submit" class="w120"  >
                </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

</block>
<block name="cssadd">
<link rel="stylesheet" href="__RES__css/bootstrap-datetimepicker.min.css" />
</block>
<block name="jsadd">
<script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
<script>

</script>
</block>
