.anchorLvl-icon.lv1 {
  background: url("../img/level/anchor/1-20.png") 0px -2px no-repeat; }

.anchorLvl-icon.lv2 {
  background: url("../img/level/anchor/1-20.png") 0px -26px no-repeat; }

.anchorLvl-icon.lv3 {
  background: url("../img/level/anchor/1-20.png") 0px -50px no-repeat; }

.anchorLvl-icon.lv4 {
  background: url("../img/level/anchor/1-20.png") 0px -74px no-repeat; }

.anchorLvl-icon.lv5 {
  background: url("../img/level/anchor/1-20.png") 0px -98px no-repeat; }

.anchorLvl-icon.lv6 {
  background: url("../img/level/anchor/1-20.png") 0px -122px no-repeat; }

.anchorLvl-icon.lv7 {
  background: url("../img/level/anchor/1-20.png") 0px -146px no-repeat; }

.anchorLvl-icon.lv8 {
  background: url("../img/level/anchor/1-20.png") 0px -170px no-repeat; }

.anchorLvl-icon.lv9 {
  background: url("../img/level/anchor/1-20.png") 0px -194px no-repeat; }

.anchorLvl-icon.lv10 {
  background: url("../img/level/anchor/1-20.png") 0px -220px no-repeat; }

.anchorLvl-icon.lv11 {
  background: url("../img/level/anchor/1-20.png") -30px -2px no-repeat; }

.anchorLvl-icon.lv12 {
  background: url("../img/level/anchor/1-20.png") -30px -26px no-repeat; }

.anchorLvl-icon.lv13 {
  background: url("../img/level/anchor/1-20.png") -30px -50px no-repeat; }

.anchorLvl-icon.lv14 {
  background: url("../img/level/anchor/1-20.png") -30px -74px no-repeat; }

.anchorLvl-icon.lv15 {
  background: url("../img/level/anchor/1-20.png") -30px -98px no-repeat; }

.anchorLvl-icon.lv16 {
  background: url("../img/level/anchor/1-20.png") -30px -122px no-repeat; }

.anchorLvl-icon.lv17 {
  background: url("../img/level/anchor/1-20.png") -30px -146px no-repeat; }

.anchorLvl-icon.lv18 {
  background: url("../img/level/anchor/1-20.png") -30px -170px no-repeat; }

.anchorLvl-icon.lv19 {
  background: url("../img/level/anchor/1-20.png") -30px -194px no-repeat; }

.anchorLvl-icon.lv20 {
  background: url("../img/level/anchor/1-20.png") -30px -218px no-repeat; }

.anchorLvl-icon.lv21 {
  background: url("../img/level/anchor/1-20.png") -65px -2px no-repeat; }

.anchorLvl-icon.lv22 {
  background: url("../img/level/anchor/1-20.png") -65px -26px no-repeat; }

.anchorLvl-icon.lv23 {
  background: url("../img/level/anchor/1-20.png") -65px -50px no-repeat; }

.anchorLvl-icon.lv24 {
  background: url("../img/level/anchor/1-20.png") -65px -74px no-repeat; }

.anchorLvl-icon.lv25 {
  background: url("../img/level/anchor/1-20.png") -65px -98px no-repeat; }

.anchorLvl-icon.lv26 {
  background: url("../img/level/anchor/1-20.png") -65px -122px no-repeat; }

.anchorLvl-icon.lv27 {
  background: url("../img/level/anchor/1-20.png") -65px -146px no-repeat; }

.anchorLvl-icon.lv28 {
  background: url("../img/level/anchor/1-20.png") -65px -170px no-repeat; }

.anchorLvl-icon.lv29 {
  background: url("../img/level/anchor/1-20.png") -65px -194px no-repeat; }

.userLvl-icon.level1 {
  background: url("../img/level/user/1-30.png") 0px 2px no-repeat; }

.userLvl-icon.level2 {
  background: url("../img/level/user/1-30.png") 0px -18px no-repeat; }

.userLvl-icon.level3 {
  background: url("../img/level/user/1-30.png") 0px -38px no-repeat; }

.userLvl-icon.level4 {
  background: url("../img/level/user/1-30.png") 0px -58px no-repeat; }

.userLvl-icon.level5 {
  background: url("../img/level/user/1-30.png") 0px -78px no-repeat; }

.userLvl-icon.level6 {
  background: url("../img/level/user/1-30.png") 0px -98px no-repeat; }

.userLvl-icon.level7 {
  background: url("../img/level/user/1-30.png") 0px -118px no-repeat; }

.userLvl-icon.level8 {
  background: url("../img/level/user/1-30.png") 0px -138px no-repeat; }

.userLvl-icon.level9 {
  background: url("../img/level/user/1-30.png") 0px -158px no-repeat; }

.userLvl-icon.level10 {
  background: url("../img/level/user/1-30.png") 0px -178px no-repeat; }

.userLvl-icon.level11 {
  background: url("../img/level/user/1-30.png") -46px 2px no-repeat; }

.userLvl-icon.level12 {
  background: url("../img/level/user/1-30.png") -46px -18px no-repeat; }

.userLvl-icon.level13 {
  background: url("../img/level/user/1-30.png") -46px -38px no-repeat; }

.userLvl-icon.level14 {
  background: url("../img/level/user/1-30.png") -46px -58px no-repeat; }

.userLvl-icon.level15 {
  background: url("../img/level/user/1-30.png") -46px -78px no-repeat; }

.userLvl-icon.level16 {
  background: url("../img/level/user/1-30.png") -46px -98px no-repeat; }

.userLvl-icon.level17 {
  background: url("../img/level/user/1-30.png") -46px -118px no-repeat; }

.userLvl-icon.level18 {
  background: url("../img/level/user/1-30.png") -46px -138px no-repeat; }

.userLvl-icon.level19 {
  background: url("../img/level/user/1-30.png") -46px -158px no-repeat; }

.userLvl-icon.level20 {
  background: url("../img/level/user/1-30.png") -46px -178px no-repeat; }

.userLvl-icon.level21 {
  background: url("../img/level/user/1-30.png") -92px 2px no-repeat; }

.userLvl-icon.level22 {
  background: url("../img/level/user/1-30.png") -92px -18px no-repeat; }

.userLvl-icon.level23 {
  background: url("../img/level/user/1-30.png") -92px -38px no-repeat; }

.userLvl-icon.level24 {
  background: url("../img/level/user/1-30.png") -92px -58px no-repeat; }

.userLvl-icon.level25 {
  background: url("../img/level/user/1-30.png") -92px -78px no-repeat; }

.userLvl-icon.level26 {
  background: url("../img/level/user/1-30.png") -92px -98px no-repeat; }

.userLvl-icon.level27 {
  background: url("../img/level/user/1-30.png") -92px -118px no-repeat; }

.userLvl-icon.level28 {
  background: url("../img/level/user/1-30.png") -92px -138px no-repeat; }

.userLvl-icon.level29 {
  background: url("../img/level/user/1-30.png") -92px -158px no-repeat; }

.userLvl-icon.level30 {
  background: url("../img/level/user/30.gif") 0 1px no-repeat; }

.userLvl-icon.level31 {
  background: url("../img/level/user/31.gif") 0 1px no-repeat; }

.userLvl-icon.level32 {
  background: url("../img/level/user/32.gif") 0 1px no-repeat; }

.userLvl-icon.level33 {
  background: url("../img/level/user/33.gif") 0 1px no-repeat; }

.userLvl-icon.level34 {
  background: url("../img/level/user/34.gif") 0 1px no-repeat; }

.userLvl-icon.level35 {
  background: url("../img/level/user/35.gif") 0 1px no-repeat; }

.userLvl-icon.level36 {
  background: url("../img/level/user/36.gif") 0 1px no-repeat; }

.userLvl-icon.level37 {
  background: url("../img/level/user/37.gif") 0 1px no-repeat; }

.userLvl-icon.level38 {
  background: url("../img/level/user/38.gif") 0 1px no-repeat; }

.userLvl-icon.level39 {
  background: url("../img/level/user/39.gif") 0 1px no-repeat; }

.userLvl-icon.level40 {
  background: url("../img/level/user/40.gif") 0 1px no-repeat; }

.userLvl-icon.level41 {
  background: url("../img/level/user/41.gif") 0 1px no-repeat; }

.userLvl-icon.level42 {
  background: url("../img/level/user/42.gif") 0 1px no-repeat; }

.userLvl-icon.level43 {
  background: url("../img/level/user/43.gif") 0 1px no-repeat; }

.userLvl-icon.level44 {
  background: url("../img/level/user/44.gif") 0 1px no-repeat; }

.userLvl-icon.level45 {
  background: url("../img/level/user/45.gif") 0 1px no-repeat; }

.userLvl-icon.level46 {
  background: url("../img/level/user/46.gif") 0 1px no-repeat; }

.userLvl-icon.level47 {
  background: url("../img/level/user/47.gif") 0 1px no-repeat; }

.userLvl-icon.level48 {
  background: url("../img/level/user/48.gif") 0 1px no-repeat; }

.userLvl-icon.level49 {
  background: url("../img/level/user/49.gif") 0 1px no-repeat; }

.userLvl-icon.level50 {
  background: url("../img/level/user/50.gif") 0 1px no-repeat; }

.userLvl-icon.level51 {
  background: url("../img/level/user/51.gif") 0 1px no-repeat; }

.userLvl-icon.level52 {
  background: url("../img/level/user/52.gif") 0 1px no-repeat; }

.userLvl-icon.level53 {
  background: url("../img/level/user/53.gif") 0 1px no-repeat; }

.userLvl-icon.level54 {
  background: url("../img/level/user/54.gif") 0 1px no-repeat; }

.userLvl-icon.level55 {
  background: url("../img/level/user/55.gif") 0 1px no-repeat; }

.userLvl-icon.level56 {
  background: url("../img/level/user/56.gif") 0 1px no-repeat; }

.userLvl-icon.level57 {
  background: url("../img/level/user/57.gif") 0 1px no-repeat; }

.userLvl-icon.level58 {
  background: url("../img/level/user/58.gif") 0 1px no-repeat; }

.userLvl-icon.level59 {
  background: url("../img/level/user/59.gif") 0 1px no-repeat; }

.userLvl-icon.level60 {
  background: url("../img/level/user/60.gif") 0 1px no-repeat; }

