body {
    background-color: #eeeeee;
    color:#444;
}
#block5 .block, #content .fav_rank, #block3{
    box-shadow: 0 0 0 0 #FFF;
}
#liveHall{
    margin: 0 auto;
}
#liveHall .contain{
    display:block;
    margin: 70px auto;
    background: #fff;
    padding: 0 0 20px 0;
    border: 1px solid #e7e7e7;
    margin-bottom:40px;
}
#liveHall .contain .more_live{
    width:260px;
    height:40px;
    background:#f5f5f5;
    margin:0px auto;
    text-align:center;
    line-height:40px;
    cursor:pointer;
}
#liveHall .contain .more_live:hover{
    background:#e0e0e0;
    color: #ff7800;
}
#liveHall.w1180 .contain{
    width:1180px;
}
#liveHall.w980 .contain{
    width:980px;
}
#liveHall.w980 .block{
    min-width:940px;
    min-height:800px;
}
#liveHall.w1180 .block{
    min-width:1140px;
    min-height:800px;
}
#liveHall .block .livecount{
    padding:8px;
    font-size:14px;
    color:#444;
    line-height:9px;
    margin:16px 7px 0px 7px ;
    display:block;
}
#liveHall .block_live{
    padding-top:20px;
}
#liveHall .block ul{
    border:0px;
}
#liveHall .block_title{
    border-bottom:1px solid #e7e7e7;
    padding:0px;
}
#liveHall .block_title .fl,
#liveHall .block_title span{
    margin-left:0px;
}
#liveHall .block_title .fr{
    cursor:pointer;
}
#liveHall .block_title .fr:hover{
    color:#ff7800;
}
#liveHall .block_title span.fr.cur{
    background:#ff7800;
    color:#fff;
}
.none{
    display: none;
}

.h_item:hover{
	background:#fff;
	border-bottom-color: #d2d2d2;
	border-top:1px solid #e7e7e7;
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
}

/*980px style*/
#liveHall.w1180 .contain{
    width:1180px;
}
#liveHall.w980 .contain{
    width:980px;
}
#liveHall.w980 .block{
    min-width:940px;
    min-height:800px;
}
#liveHall.w1180 .block{
    min-width:1140px;
    min-height:800px;
}

