<extend name="Base/matrix" />
<block name="content">
    <style>
        .yw-preview-parent{
            position: relative;
            width: 50px;
            height: 50px;
        }
        .yw-preview{
            height: 50px;
            z-index: 1;
        }
        .yw-preview:hover{
            position: absolute;
            width: 300px;
            height: 300px;
        }
    </style>
    <img border='1px solid'   src="">
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>资质认证</a><a href="javascript:;" ></i>资质认证列表</a></div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                            <h5>资质认证列表</h5>
                        </div>
                        <div class="widget-content">
                            <div class="text-center mb10 ln38">
                                <form class="form-search" id='myform'>
                                    <input name='name' id='name' type="text" value="{{$Think.get.name}}"  placeholder="用户昵称"  >
                                    <input name='uid' id='uid' type="text" value="{{$Think.get.uid}}"  placeholder="用户id"  >
                                    <input name='luid' id='luid' type="text" value="{{$Think.get.luid}}"  placeholder="主播id"  >
                                    <input name='orderid' id='orderid' type="text" value="{{$Think.get.orderid}}"  placeholder="订单ID"  >
                                    <br/>
                                    <input type="text" id="timestart" name="timestart" class="form_datetime w100"  value="{{$Think.get.timestart}}" placeholder="开始时间">  <input type="text" id = "timeend" name="timeend" class="form_datetime w100"  value="{{$Think.get.timeend}}" placeholder="结束时间">
                                    <select class="span2" name="status">
                                        <option value='-1' <eq name="Think.get.status" value="-1" >selected</eq>>选择审核状态</option>
                                        <!--<option value='-2' <eq name="Think.get.status" value="-2" >selected</eq>>未上传</option>-->
                                        <foreach name="checkstatus" item="v" key='key'>
                                            <option value="{{$key}}" <if condition="$Think.get.status eq $key">selected</if> >{{$v}}</option>
                                        </foreach>
                                    </select>
                                    <button type="submit" class="btn">搜索</button>
                                    <button type="submit" class="btn" name="export" value="1">导出</button><br>
                                </form>
                            </div>
                            <div class="oyat">
                                <table class="table table-bordered table-striped" id="oCenter" style="">
                                    <thead>
                                    <tr>
                                       <!-- <td><input type="checkbox" class="full">全选</td>-->
                                        <th>提交时间</th>
                                        <th>订单ID</th>
                                        <th>用户UID</th>
                                        <th>用户昵称</th>
                                        <th>主播UID</th>
                                        <th>订单金额</th>
                                        <th>实付款</th>
                                        <th>申诉原因</th>
                                        <th>图片</th>
                                        <th>审核时间</th>
                                        <th>订单状态</th>
                                        <th>审核状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody class='data'>
                                    <foreach name="datas" item="item">
                                        <tr>

                                           <!-- <th style="text-align: center"><input type="checkbox" id="{{$item.uid}}" v = "{{$item.pic}}"></th>-->
                                            <th>{{$item.bctime}}</th>
                                            <th>{{$item.order_id|default='--'}}</th>
                                            <th>{{$item.uid|default='--'}}</th>
                                            <th>{{$item.nick|default='--'}}</th>
                                            <th>{{$item.cert_uid|default='--'}}</th>
                                            <th>{{$item.amount|default='--'}}</th>
                                            <th>{{$item.real_amount|default='--'}}</th>
                                            <th>{{$item.content|default='--'}}</th>
                                            <th><div class="yw-preview-parent"><div class="yw-preview"><img  src="http://{{$conf.domain-img}}/{{$item.pic|default='--'}}"></div></div></th>
                                            <if condition="$item.butime eq '1971-01-01 01:01:01'">
                                                <th>--</th>
                                                <else/>
                                                <th>{{$item.utime|default='--'}}</th>
                                            </if>
                                            <th>{{$orderstatus[$item[astatus]]|default='--'}}</th>
                                            <th>{{$checkstatus[$item[bstatus]]|default='--'}}</th>
                                            <th>

                                                <if  condition="($item.astatus eq $orderstatusdesc.complete )  " >
                                                    订单完成
                                                    <elseif  condition="($item.astatus eq $orderstatusdesc.cancel )  " />
                                                        订单取消
                                                <elseif  condition="($item.bstatus eq 0)" />
                                                        <a id="unpass{{$item.id}}" href="#myModal" role="button" class="badge badge-info" data-toggle="modal" data-id="{{$item.order_id}}" data-uid="{{$item.uid}}" data-nick="{{$item.nick}}" data-act="pass">通过</a>
                                                    <a id="unpass{{$item.id}}" href="#myModal" role="button" class="badge badge-info" data-toggle="modal" data-id="{{$item.order_id}}" data-uid="{{$item.uid}}" data-nick="{{$item.nick}}" data-act="unpass">拒绝</a>
                                                <elseif  condition="($item.bstatus eq 1 )  "/>
                                                    <!--<a id="unpass{{$item.id}}" href="#myModal" role="button" class="badge badge-info" data-toggle="modal" data-id="{{$item.order_id}}" data-act="unpass">拒绝</a>-->
                                                        已通过
                                                <elseif  condition="($item.bstatus eq 2 )  "/>
                                                <!--<a class="badge badge-info" onclick="pass('{{$item.order_id}}');">通过</a>-->
                                                        <!--<a id="unpass{{$item.id}}" href="#myModal" role="button" class="badge badge-info" data-toggle="modal" data-id="{{$item.order_id}}" data-act="pass">通过</a>-->
                                                        已拒绝
                                                <else/>
                                                &#45;&#45;
                                            </if></th>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                                <div class="pagination alternate text-center">{{$page}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <div id="dataid" style="display: none"></div>
            <div id="datauid" style="display: none"></div>
            <div id="datanick" style="display: none"></div>
            <div id="dataact" style="display: none"></div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">拒绝原因</h3>
        </div>
        <div class="modal-body">
            <textarea  style="width: 100%" minlength="0" maxlength="60" id="reason" placeholder="请输入原因（0～60字）"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary" onclick="dosubmit()">提交</button>
        </div>
    </div>
</block>
<block name="jsadd">
    <script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd',
            showMeridian: false,
            autoclose: true,
            minView: 2,
            todayBtn: true,
        });
        $("a[data-toggle='modal']").on('click', function(e) {
            $('#dataid').val($(this).attr('data-id'));
            $('#datauid').val($(this).attr('data-uid'));
            $('#datanick').val($(this).attr('data-nick'));
            $('#dataact').val($(this).attr('data-act'));
        });
        function dosubmit() {
            var act = $('#dataact').val();
            if(act=='pass'){
                pass();
            }
            else if(act=='unpass'){
                unpass();
            }
            else {
                alert('系统出错');
            }
        }
        function unpass() {
            var reason = $('#reason').val();
            var id = $('#dataid').val();
            var uid = $('#datauid').val();
            var nick = $('#datanick').val();
            $.ajax({
                url: '/ywcheck/ywrefundcheckunpass',
                data:{id:id,uid:uid,nick:nick,reason:reason},
                type:'post',
                dataType:'json',
                success:function(data){
                    if(data.status==1){
                        alert(data.info)
                        window.location.href = "";
                    }else{
                        alert(data.info)
                        window.location.href = "";
                    }
                }
            })
        }
        function pass() {
            var reason = $('#reason').val();
            var id = $('#dataid').val();
            var uid = $('#datauid').val();
            var nick = $('#datanick').val();
            if(!reason){
                alert('请填写拒绝原因');
                return;
            }
            $.ajax({
                url: '/ywcheck/ywrefundcheckpass',
                data:{id:id,uid:uid,nick:nick,reason:reason},
                type:'post',
                dataType:'json',
                success:function(data){
                    if(data.status==1){
                        alert(data.info)
                        window.location.href = "";
                    }else{
                        alert(data.info)
                        window.location.href = "";
                    }
                }
            })
        }

    </script>
</block>
