<extend name="Base/matrix" />
<block name="content">
<div id="content">
	<div id="content-header">
		<div id="breadcrumb"><a href="javascript:;" ><i class="icon-home"></i>地域统计</a><a href="javascript:;" ></i>用户统计</a></div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"> <i class="icon-th"></i></span><h5>用户统计-地图分布</h5></div>
					<div class="widget-content">
						<div class="text-center mb10 ln38">
							<form class="form-search">
								<input type="text" name="timestart" class="form_datetime w100"  value="{{$Think.get.timestart}}" placeholder="开始时间">
								<input type="text" name="timeend" class="form_datetime w100"  value="{{$Think.get.timeend}}" placeholder="结束时间">
								<button type="submit" class="btn">搜索</button>
								<a target="_blank" class="btn" href="/ip/user?timestart={{$Think.get.timestart}}&timeend={{$Think.get.timeend}}">查看列表</a>
								<a target="_blank" class="btn" href="/ip/trend?timestart={{$Think.get.timestart}}&timeend={{$Think.get.timeend}}">查看趋势图</a>
							</form>
						</div>
						<hr/>
						<div class="oyat">    
							<div id="totaluser" style="width: 1000px;height:600px;"></div>
						</div>
						<hr/>
						<div class="oyat">    
							<div id="newuser" style="width: 1000px;height:600px;"></div>
						</div>
						<hr/>
						<div class="oyat">    
							<div id="totalrecharge" style="width: 1000px;height:600px;"></div>
						</div>
						<hr/>
						<div class="oyat">    
							<div id="newrecharge" style="width: 1000px;height:600px;"></div>
						</div>
						<hr/>
						<div class="oyat">    
							<div id="totalmoney" style="width: 1000px;height:600px;"></div>
						</div>
						<hr/>
						<div class="oyat">    
							<div id="newmoney" style="width: 1000px;height:600px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</block>
<block name="cssadd">
<link rel="stylesheet" href="__RES__css/bootstrap-datetimepicker.min.css" />
</block>
<block name="jsadd">
<script src="__RES__js/bootstrap-datetimepicker.min.js"></script>
<script src="__RES__js/echarts/echarts.min.js"></script>
<script src="__RES__js/echarts/china.js"></script>
<script>
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd',
        showMeridian: false,
        autoclose: true,
        minView: 2,
        todayBtn: true,
    });
</script>
<script type="text/javascript">
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('totaluser'));
    // 指定图表的配置项和数据
    function randomData() {
		return Math.round(Math.random()*1000);
	}
	
	function randomData2() {
		return Math.round(Math.random()*10);
	}
	option = {
		title: {
			text: '截止到{{$Think.get.timeend}} 23:59:59注册总人数',
			subtext: '地域分布',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			//data:['注册总人数']
		},
		visualMap: {
			min: 0,
			max: {{$totaluser.max}},
			left: 'left',
			top: 'bottom',
			text: ['高','低'],           // 文本，默认为数值文本
			calculable: true
		},
		toolbox: {
			show: true,
			orient: 'vertical',
			left: 'right',
			top: 'center',
			feature: {
				dataView: {readOnly: false},
				restore: {},
				saveAsImage: {}
			}
		},
		series: [
			{
				name: '注册总人数',
				type: 'map',
				mapType: 'china',
				roam: false,
				label: {
					normal: {
						show: false
					},
					emphasis: {
						show: true
					}
				},
				data:
					{{$totaluser.data}}
				
			},
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);	
</script>
<script>	
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('newuser'));
    // 指定图表的配置项和数据
    function randomData() {
		return Math.round(Math.random()*1000);
	}
	
	function randomData2() {
		return Math.round(Math.random()*10);
	}
	option = {
		title: {
			text: '{{$date}}注册人数',
			subtext: '地域分布',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			//data:['注册总人数']
		},
		visualMap: {
			min: 0,
			max: {{$newuser.max}},
			left: 'left',
			top: 'bottom',
			text: ['高','低'],           // 文本，默认为数值文本
			calculable: true
		},
		toolbox: {
			show: true,
			orient: 'vertical',
			left: 'right',
			top: 'center',
			feature: {
				dataView: {readOnly: false},
				restore: {},
				saveAsImage: {}
			}
		},
		series: [
			{
				name: '新注册人数',
				type: 'map',
				mapType: 'china',
				roam: false,
				label: {
					normal: {
						show: false
					},
					emphasis: {
						show: true
					}
				},
				data:
					{{$newuser.data}}
				
			},
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
<script>	
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('totalrecharge'));
    // 指定图表的配置项和数据
    function randomData() {
		return Math.round(Math.random()*1000);
	}
	
	function randomData2() {
		return Math.round(Math.random()*10);
	}
	option = {
		title: {
			text: '截止到{{$Think.get.timeend}} 23:59:59充值总人数',
			subtext: '地域分布',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			//data:['注册总人数']
		},
		visualMap: {
			min: 0,
			max: {{$totalrecharge.max}},
			left: 'left',
			top: 'bottom',
			text: ['高','低'],           // 文本，默认为数值文本
			calculable: true
		},
		toolbox: {
			show: true,
			orient: 'vertical',
			left: 'right',
			top: 'center',
			feature: {
				dataView: {readOnly: false},
				restore: {},
				saveAsImage: {}
			}
		},
		series: [
			{
				name: '充值总人数',
				type: 'map',
				mapType: 'china',
				roam: false,
				label: {
					normal: {
						show: false
					},
					emphasis: {
						show: true
					}
				},
				data:
					{{$totalrecharge.data}}
				
			},
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
<script>	
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('newrecharge'));
    // 指定图表的配置项和数据
    function randomData() {
		return Math.round(Math.random()*1000);
	}
	
	function randomData2() {
		return Math.round(Math.random()*10);
	}
	option = {
		title: {
			text: '{{$date}}充值人数',
			subtext: '地域分布',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			//data:['注册总人数']
		},
		visualMap: {
			min: 0,
			max: {{$newrecharge.max}},
			left: 'left',
			top: 'bottom',
			text: ['高','低'],           // 文本，默认为数值文本
			calculable: true
		},
		toolbox: {
			show: true,
			orient: 'vertical',
			left: 'right',
			top: 'center',
			feature: {
				dataView: {readOnly: false},
				restore: {},
				saveAsImage: {}
			}
		},
		series: [
			{
				name: '新充值人数',
				type: 'map',
				mapType: 'china',
				roam: false,
				label: {
					normal: {
						show: false
					},
					emphasis: {
						show: true
					}
				},
				data:
					{{$newrecharge.data}}
				
			},
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
<script>	
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('totalmoney'));
    // 指定图表的配置项和数据
    function randomData() {
		return Math.round(Math.random()*1000);
	}
	
	function randomData2() {
		return Math.round(Math.random()*10);
	}
	option = {
		title: {
			text: '截止到{{$Think.get.timeend}} 23:59:59充值总额',
			subtext: '地域分布',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			//data:['注册总人数']
		},
		visualMap: {
			min: 0,
			max: {{$totalmoney.max}},
			left: 'left',
			top: 'bottom',
			text: ['高','低'],           // 文本，默认为数值文本
			calculable: true
		},
		toolbox: {
			show: true,
			orient: 'vertical',
			left: 'right',
			top: 'center',
			feature: {
				dataView: {readOnly: false},
				restore: {},
				saveAsImage: {}
			}
		},
		series: [
			{
				name: '充值总额',
				type: 'map',
				mapType: 'china',
				roam: false,
				label: {
					normal: {
						show: false
					},
					emphasis: {
						show: true
					}
				},
				data:
					{{$totalmoney.data}}
				
			},
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
<script>	
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('newmoney'));
    // 指定图表的配置项和数据
    function randomData() {
		return Math.round(Math.random()*1000);
	}
	
	function randomData2() {
		return Math.round(Math.random()*10);
	}
	option = {
		title: {
			text: '{{$date}}充值金额',
			subtext: '地域分布',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			//data:['注册总人数']
		},
		visualMap: {
			min: 0,
			max: {{$newmoney.max}},
			left: 'left',
			top: 'bottom',
			text: ['高','低'],           // 文本，默认为数值文本
			calculable: true
		},
		toolbox: {
			show: true,
			orient: 'vertical',
			left: 'right',
			top: 'center',
			feature: {
				dataView: {readOnly: false},
				restore: {},
				saveAsImage: {}
			}
		},
		series: [
			{
				name: '新充值金额',
				type: 'map',
				mapType: 'china',
				roam: false,
				label: {
					normal: {
						show: false
					},
					emphasis: {
						show: true
					}
				},
				data:
					{{$newmoney.data}}
				
			},
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
</block>
