$root_dir 		: 	unquote("../");
$css_dir  		: 	$root_dir+"css/";
$img_dir			:	$root_dir+"img/";
$emoji_dir		:	$img_dir+"emoji/";
$get_bean_dir	:	$img_dir+"get_bean/";
$gift_dir		:	$img_dir+"gift/";
$icon_dir		:	$img_dir+"icon/";
$level_dir		:	$img_dir+"level/";
$src_dir			:	$img_dir+"src/";